{% extends 'base.html' %}
{% block title %}
	<title>Nessus - Files</title>
{% endblock %}
{% block sidebar %}
	<div class="vertical-nav">
		<!-- Sidebar menu start -->
		<ul class="menu clearfix">
			<li >
				<a href="/home">
					<span class="menu-item">Home</span>
				</a>
			</li>
			<li >
				<a href="/nessus/upload">
					<span class="menu-item">File Upload</span>
				</a>
			</li>
			<li class="active selected">
				<a href="/nessus">
					<span class="menu-item">Nessus</span>
				</a>
			</li>
			<li>
                <a href="/vulnerabilities">
                    <span class="menu-item">Vulnerabilities</span>
                </a>
            </li>
			<li >
				<a href="/settings">
					<span class="menu-item">Settings</span>
				</a>
			</li>
			<li >
				<a href="/report">
					<span class="menu-item">Report</span>
				</a>
			</li>
            <li>
				<a href="/retest-history">
					<span class="menu-item">History</span>
				</a>
			</li>
			<li>
				<a href="/retest">
					<span class="menu-item">Retest</span>
				</a>
			</li>
			<li>
				<a href="/event-history">
					<span class="menu-item">Event History</span>
				</a>
			</li>
		</ul>
		<!-- Sidebar menu end -->
	</div>
{% endblock %}

{% block content %}
    <!-- Dashboard Wrapper Start -->
	<div class="dashboard-wrapper dashboard-wrapper-lg">

		<!-- Container fluid Starts -->
		<div class="container-fluid">
            <!-- Row starts -->
			<div class="row gutter">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="panel custom-display">
						<div class="panel-body">
							<div class="panel-heading">
								<h4>Nessus File Logs</h4>
							</div>
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-condensed no-margin">
									<thead>
										<tr>
											<th>Issue Type</th>
											<th>Issue</th>
											<th>Created</th>
										</tr>
									</thead>
									<tbody>
									{% for log in logs %}
										<tr>
											<td>{{log.issue_type}}</td>
											<td>{{log.issue}}</td>
											<td>{{log.created}}</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row ends -->
        </div>
		<!-- Container fluid ends -->

	</div>
	<!-- Dashboard Wrapper End -->
{% endblock %}