{% extends 'purpleleaf_app/base.html' %}
{% block title %}
    <title>Encryption - Purpleleaf</title>
{% endblock %}
    
{% block content %}

<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

<!-- Container fluid Starts -->
	<div class="container-fluid">
		<h3 class="encryption-color">Encryption
			{% if host %}  >
				{{ host }}
			{% endif %}
		</h3>
		<div class="row gutter">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cipher_container">
				<div class="panel height2 cipher_width" style="height:unset;">
                    {% if ciphers%}
                        <div class="col-lg-4 center-text">
                            <div class="panel-heading">
                                <h4 class="panel-title">Protocols</h4>
                            </div>
                            <div class="panel-body">
                                <div id="pieGraph_protocol" class=""></div>
                            </div>
                        </div>
                        <div class="col-lg-4 center-text">
                            <div class="panel-heading">
                                <h4 class="panel-title">Ciphers</h4>
                            </div>
                            <div class="panel-body ">
                                <div id="pieGraph_cipher"></div>
                            </div>
                        </div>
                    {% endif %}
                    {% if ssh_enc_count %}
                        <div class="col-lg-4 center-text">
                            <div class="panel-heading">
                                <h4 class="panel-title">SSH</h4>
                            </div>
                            <div class="panel-body">
                                <div id="pieGraph_ssh"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
                <div class="panel" style="width: 300px;">
                    <div class="panel-heading">
                        <h3>Encryption Types</h3>
                    </div>
                    <div class="panel-body" style="margin-top: -8%;">
                        <div class="table-responsive">
                            <table class="table-bordered table-hover table-condensed no-margin  ">
                            	{% if https_enc_count == 0 and ssh_enc_count == 0 %}
                                    No encrypted services identified yet.
                                {% else %}
                                    <thead>
                                        <tr>
                                            <th class="notifications_heading">
                                                Type
                                            </th>
                                            <th class="notifications_heading">
                                                Services
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if https_enc_count > 0 %}
                                            <tr>
                                                <td>
                                                	<a href=''>HTTPS</a>
                                                </td>
                                                <td>{{ https_enc_count }}</td>
                                            </tr>
                                        {% endif %}
                                        {% if ssh_enc_count > 0 %}
                                            <tr>
                                                <td>
                                                    <a href="/encryption/ssh/">
                                                        SSH
                                                    </a>
                                                </td>
                                                <td>{{ ssh_enc_count }}</td>
                                            </tr>
                                        {% endif %}                         
                                    </tbody>
                                {% endif %}
                                <!-- <tbody>
                                    <ul class="encryption_type">
                                        <li><a href=''> HTTPS </a></li> 
										<li><a href='/encryption/ssh/'> SSH </a></li>
                                    </ul>                               
                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gutter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cipher_container_width">
				<div class="panel cipher_width">
                    <div class="panel-heading">
                        <h3 style="display: inline;">TLS/SSL Ciphers</h3>
                        {% if not host %}
                            <a href = "ciphers/" style="display: inline; position: absolute; right: 5%; margin-top: 1%;border-bottom : 1px solid;">All Ciphers({{total_ciphers}})</a>
                        {% endif %}
                    </div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-bordered table-hover table-condensed no-margin">
								<thead>
									<tr>
										<th class="notifications_heading">Strength</th>
										<th class="notifications_heading">Count</th>
										<th class="notifications_heading">Ciphers</th>
										<th class="notifications_heading">Key size</th>
										<th class="notifications_heading">Protocol</th>
									</tr>
								</thead>
								<tbody>
									{% for cipher in ciphers%}
									<tr>
										<td>
										 {% if cipher.strength == "High" %}
                                                <center>
                                                    <button class="btn enc_btn_high btn-xs">
                                                        High
                                                    </button>
                                                </center>
                                        {% elif cipher.strength == "Medium" %}
                                                <center>
                                                    <button class="btn btn-medium btn-xs">
                                                        Medium
                                                    </button>
                                                </center>
                                        {% elif cipher.strength == "Low" %}
                                                <center>
                                                    <button class="btn enc_btn_low btn-xs">
                                                        Low
                                                    </button>
                                                </center>
                                        {% else %}
                                            
                                        {% endif %}
                                    	</td>
										<td>{{cipher.cipher_count}}</td>
										<td><a class="cipher_text" href="/encryption/{{cipher.cipher}}/">{{cipher.cipher}}</a></td>
										<td>{{cipher.key_size}}</td>
										<td id="protocol">
											{% for protocol in cipher.protocol %}
												{% if protocol == 'TLSv1_2' %}
													<button class="btn btn-xs {{protocol}}" onclick="location.href='/encryption/proto/{{protocol}}/';">
															TLS 1.2 
													</button>
												{% elif protocol == 'TLSv1_1' %}
													<button class="btn btn-xs {{protocol}}" onclick="location.href='/encryption/proto/{{protocol}}/';">
															TLS 1.1 
													</button>
												{% elif protocol == 'TLSv1_3' %}
													<button class="btn btn-xs {{protocol}}" onclick="location.href='/encryption/proto/{{protocol}}/';">
															TLS 1.3 
													</button>
												{% elif protocol == 'TLSv1' %}
													<button class="btn btn-xs {{protocol}}" onclick="location.href='/encryption/proto/{{protocol}}/';">
															TLS 1.0 
													</button>
												{% elif protocol == 'SSLv2' %}
													<button class="btn btn-xs {{protocol}}" onclick="location.href='/encryption/proto/{{protocol}}/';">
															SSLv2 
													</button>
												{% elif protocol == 'SSLv3' %}
													<button class="btn btn-xs {{protocol}}" onclick="location.href='/encryption/proto/{{protocol}}/';">
															SSLv3 
													</button>
												{%else%}
													<button class="btn btn-xs {{protocol}}" onclick="location.href='/encryption/proto/{{protocol}}/';">
															{{protocol}}
													</button>
												{% endif %}
											{% endfor %}
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
                </div>
                <!-- Added for certificates section -->
                {% if certificates %}
                <div class="panel cipher_width" >
                    <div class="panel-heading">
                        <h3 style="display: inline;">Certificates</h3>
                        <a href = "certificates" style="display: inline; position: absolute; right: 3%; margin-top: 1%;border-bottom : 1px solid;">All Certificates({{total_certificates}})
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table-bordered table-hover table-condensed no-margin"  style="width:100%;">
                                <thead>
                                    <tr>
                                        <th class="notifications_heading">
                                            Service
                                        </th>
                                        <th class="notifications_heading">
                                            Verified
                                        </th>
                                        <th class="notifications_heading" style="white-space: nowrap;">
                                            Common Name
                                        </th>
                                        <th class="notifications_heading">
                                            Alg
                                        </th>
                                        <th class="notifications_heading">
                                            Chain
                                        </th>
                                        <th class="notifications_heading">
                                            Identified
                                        </th>
                                        <th class="notifications_heading">
                                            Last Seen
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for certificate in certificates %}
                                        <tr>
                                            <td class="cipher_text">
                                                {{ certificate.host }}:{{ certificate.port }}
                                            </td>
                                            <td>
                                                {% if certificate.verified_certificate_chain %}
                                                    <button class="btn btn-xs TLSv1_2">
                                                        Valid
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-xs SSLv3">
                                                            Invalid
                                                    </button>
                                                {% endif %}
                                            </td>
                                            <td class="cipher_text">
                                                {% if certificate.common_name %}
                                                	{{ certificate.common_name }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                    {% if certificate.algorithm == 'SHA1' %}
                                                        <button class="btn btn-danger btn-transparent btn-xs " style="pointer-events:none;  
                                                        cursor: not-allowed;">
                                                            {{certificate.algorithm}}
                                                        </button>
                                                    {% else %}
                                                        
                                                        <button class="btn btn-success btn-transparent btn-xs certificate_ok_btn">
                                                            {{certificate.algorithm}}
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            <td>
                                                {% if certificate.sha1_in_chain %}
                                                	<button class="btn btn-danger btn-transparent btn-xs" style="pointer-events:none;  
                                                        cursor: not-allowed;">
                                                        SHA1
                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-success btn-transparent btn-xs certificate_ok_btn">
                                                        OK
                                                    </button>
                                                {% endif %}
                                            </td>
                                            <td class="cipher_text">
                                                {{ certificate.created }}
                                            </td>
                                            <td class="cipher_text">
                                                {{ certificate.modified }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- Certificate Section ends here-->
			</div>
		</div>
	</div>
<!-- Container fluid ends -->
</div>
<!-- Dashboard Wrapper End -->
{% endblock %}


	{% block script %}
 	    <script src="/static/js/sparkline/retina.js"></script>
	 	<script src="/static/js/c3/c3.min.js"></script>
	 	<script src="/static/js/c3/c3.custom.js"></script>

	{% endblock %}
	