{% extends 'purpleleaf_app/base.html' %}
{% block title %}
    <title>Host Detail - Purpleleaf</title>
{% endblock %}

{% block content %}
<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

    <!-- Container fluid Starts -->
    <div class="container-fluid">
    	{% if host_obj %}
    	<div class="top-bar clearfix">
			<h3 class="vulnerability-color">
				{{ host_obj.host }}
					&nbsp;
				<a href="/vulnerabilities/network/{{host_obj.user_host.network.id}}" class="btn btn-default btn-transparent btn-transparent-font" >
				{{host_obj.user_host.network.network}}
				</a>
			</h3>
			<div class="row gutter" style="margin-top: -75px;">
	           	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	           	</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<ul class="right-stats" id="mini-nav-right">
						<li>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Row starts -->
		<div class="row gutter">
			<div class="col-lg-6 col-md-5 col-sm-6 col-xs-5 host-vul-width">
				<div class="panel" style="min-width: 300px;">
					<div class="panel-heading">
						{% if vulnerabilities %}
                            <h3>Confirmed Vulnerabilities</h3>
                        {% endif %}
                    </div>
					<div class="panel-body " >
						<div class="table-responsive">
							{% if vulnerabilities %}
								<table class="table-bordered table-hover table-condensed no-margin">
									<col width="18%" />
									<col width="64%" />
									<col width="18%" />
									<thead>
										<tr>
											<th class="notifications_heading">Risk</th>
											<th class="notifications_heading">Title</th>
											<th class="notifications_heading">Instances</th>
										</tr>
									</thead>
									<tbody>
									{% for data in vulnerabilities %}
										<tr>
											<td>
												{% if data.risk == 'Critical' %}
													<button class="btn btn-critical btn-xs">Critical</button>
												{% elif data.risk == 'High' %}
													<button class="btn btn-high btn-xs">High</button>
												{% elif data.risk == 'Medium' %}
													<button class="btn btn-medium btn-xs">Medium</button>
												{% elif data.risk == 'Low' %}
													<button class="btn btn-low btn-xs">Low</button>
												{% elif data.risk == 'Note' %}
													<button class="btn btn-primary btn-xs btn-note">Note</button>
												{% endif %}
											</td>
											<td><a href="/vulnerabilities/host/{{ data.host_id }}/{{ data.virtue_id }}/">{{data.title}}</a>
											</td>
											<td>
												{{data.instances}}
											</td>
										</tr>
									{% endfor %}
									</tbody>
								</table>
							{% else %}
								<p>No Vulnerabilities available</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 host-application-width">
            	{% if whois_detail %}
            	<div class="col-lg-12">
                    <div class="panel" >
                        <div class="panel-body">
                            <div id="world-map-markers" class="chart-height1"></div>
                        </div>
                        <div class="panel-body">
							<div class="table-responsive">
								<table class="table-bordered table-hover table-condensed no-margin">
									<tbody>
										<tr>
											<td>
												ASN
											</td>
											<td>
												{{whois_detail.asn_description}}
											</td>
										</tr>
										{% if whois_detail.network_name %}
										<tr>
											<td>
												Network
											</td>
											<td>
												{{whois_detail.network_name}}
											</td>
										</tr>
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
                    </div>
            	</div>
            	{% endif %}
            	{% if applications %}
				<div class="col-lg-12 col-md-7 col-sm-7 col-xs-7">					
					<div class="panel" style="min-width: 300px;">
				        <div class="panel-heading">
				            <h3>Applications</h3>
				        </div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table-bordered table-hover table-condensed no-margin">
									<thead>
										<tr>
											<th class="notifications_heading">#</th>
											<th class="notifications_heading">Title</th>
											<th class="notifications_heading">Application</th>
										</tr>
									</thead>
									<tbody>
										{% for application in applications %}
										<tr>
											<td>
												{{ forloop.counter }}
											</td>
											<td>
												<a href="/applications/{{application.id}}">
												{{ application.application_title }}
												</a>
											</td>
											<td>
												<a href="/applications/{{application.id}}/">
													{{ application.application_url }}
												</a>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% if open_ports %}
            	<div class="col-lg-12 col-md-7 col-sm-7 col-xs-7">					
					<div class="panel" style="min-width: 300px;">
                        <div class="panel-heading">
                            <h3>Open Ports</h3>
                        </div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table-bordered table-hover table-condensed no-margin">
									<thead>
					                    <tr>
					                        <th class="notifications_heading">Port</th>
					                        <th class="notifications_heading">Last Seen</th>
					                    </tr>
	                    			</thead>
									<tbody>
										{% for port in open_ports %}
										<tr>
											<td>
												{{port.port}}
											</td>
											<td>
												{{port.modified}}
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
            </div>				
		</div>
        {% else %}
        <h3>Host not found.</h3>
        {% endif %}
    </div>
    <!-- Container fluid ends -->

</div>

<!-- Dashboard Wrapper End -->
{% endblock %}
{% block script %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/jvectormap/jquery-jvectormap-2.0.3.min.js"></script> 
    <script src="/static/js/jvectormap/world-mill-en.js"></script>
    <script src="/static/js/jvectormap/gdp-data.js"></script>
    <script src="/static/js/jvectormap/country-coords-data.js"></script>
    <script src="/static/js/jvectormap/host-map.js"></script>
    <script>
    	var mapdata = "{{mapdata}}";
    	var country_code = "{{country_code}}";
    </script>

{% endblock %}