{% extends 'purpleleaf_app/base.html' %}
    {% block title %}
            <title>Vulnerabilities - Purpleleaf </title>
    {% endblock %}

    {% block content %}
    <!-- Dashboard Wrapper Start -->
    <div class="dashboard-wrapper dashboard-wrapper-lg ">

        <!-- Container fluid Starts -->
        <div class="container-fluid">
        	<h3 class="vulnerability-color">Vulnerabilities</h3>
            <div class="row gutter">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-7 col-md-9 col-sm-10 col-xs-12 vulnerabilities-section">
						<div class="panel">
							<div class="panel-heading">
								<h3>External Vulnerabilities</h3>
							</div>
							<div class="panel-body">
								<div class="table-responsive"  style="overflow-x: hidden;">
									<table class="table-bordered table-hover table-condensed no-margin">
										<thead>
											<tr>
												<th class="notifications_heading">Risk</th>
												<th class="notifications_heading">Title</th>
												<th class="notifications_heading">Instances</th>
											</tr>
										</thead>
										<tbody>
											<col width="28%" />
											<col width="64%" />
											<col width="18%" />
											{% for data in datalist.external_vul_obj %}
												<tr>
													<td>
													{% if data.risk == 'Critical' %}
														<button class="btn btn-critical btn-xs">Critical</button>
													{% elif data.risk == 'High' %}
														<button class="btn btn-high btn-xs ">High</button>
													{% elif data.risk == 'Medium' %}
														<button class="btn btn-medium btn-xs">Medium</button>
													{% elif data.risk == 'Low' %}
														<button class="btn btn-low btn-xs">Low</button>
													{% elif data.risk == 'Note' %}
														<button class="btn btn-primary btn-xs btn-note">Note</button>
													{% endif %}
													</td>
													<td class="td-overflow">
														<a class="vulnerabilities_id" href="/vulnerabilities/external/{{data.virtue_id}}">	{{data.title}}
														</a>
													</td>
													<td>{{data.instances}}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

                	{% if networks.external %}
                	<div class="col-lg-7 col-md-9 col-sm-10 col-xs-12 networks-section">
                		<div class="panel" style="min-width: 315px;">
                        	<div class="panel-heading">
                            	<h3>External Networks</h3>
                        	</div>
                        	<div class="panel-body">
								<div class="table-responsive"  style="overflow-x: hidden;">
									<table class="table-bordered table-hover table-condensed no-margin">
										<thead>
					                    <tr>
					                        <th class="notifications_heading">#</th>
					                        <th class="notifications_heading">Network</th>
					                        <th class="notifications_heading">Hosts</th>
					                        <th class="notifications_heading">Active</th>
					                        <th class="notifications_heading">Vulnerabilities</th>
					                    </tr>
					                	</thead>
										<tbody>
											{% for network in networks.external %}
												<tr>
													<td>{{forloop.counter}}</td>
													<td>
														<a href="/vulnerabilities/network/{{network.id}}/">{{network.network}}</a>
													</td>
													<td>
														<center>
															{{network.ip_count}}
														</center>
													</td>
													<td>
														<center>
															{{network.vulnerabilities.active_ips_count}}
														</center>
													</td>
													<td >
		                                                <center>
		                                                    {% if network.vulnerabilities.critical or network.vulnerabilities.critical != 0 %}
	                                                            <button class="btn btn-critical-count btn-xs">
	                                                                {{ network.vulnerabilities.critical }}
	                                                            </button>
		                                                    {% endif %}
		                                                    {% if network.vulnerabilities.high or network.vulnerabilities.high != 0 %}
		                                                        <button class="btn btn-high-count btn-xs">
		                                                            {{ network.vulnerabilities.high }}
		                                                        </button>
		                                                    {% endif %}
		                                                    {% if network.vulnerabilities.medium or network.vulnerabilities.medium != 0 %}
		                                                        <button class="btn btn-medium-count btn-xs">
		                                                            {{ network.vulnerabilities.medium }}
		                                                        </button>
		                                                    {% endif %}
		                                                    {% if network.vulnerabilities.low or network.vulnerabilities.low != 0 %}
		                                                        <button class="btn btn-low-count btn-xs">
		                                                            {{ network.vulnerabilities.low }}
		                                                        </button>
		                                                    {% endif %}
		                                                </center>
		                                            </td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
                	</div>
                	{% endif %}
                </div>
            </div>
            <div class="row gutter">
		        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-7 col-md-9 col-sm-10 col-xs-12 vulnerabilities-section">
						<div class="panel">
							<div class="panel-heading">
								<h3>Internal Vulnerabilities</h3>
							</div>
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table-bordered table-hover table-condensed no-margin">
										<thead>
											<tr>
												<th class="notifications_heading">Risk</th>
												<th class="notifications_heading">Title</th>
												<th class="notifications_heading">Instances</th>
											</tr>
										</thead>
										<tbody>
											<col width="18%" />
											<col width="64%" />
											<col width="18%" />
											{% for data in datalist.internal_vul_obj %}
												<tr>
													<td>
													{% if data.risk == 'Critical' %}
														<button class="btn btn-critical btn-xs">Critical</button>
													{% elif data.risk == 'High' %}
														<button class="btn btn-high btn-xs ">High</button>
													{% elif data.risk == 'Medium' %}
														<button class="btn btn-medium btn-xs">Medium</button>
													{% elif data.risk == 'Low' %}
														<button class="btn btn-low btn-xs">Low</button>
													{% elif data.risk == 'Note' %}
														<button class="btn btn-primary btn-xs btn-note">Note</button>
													{% endif %}
													</td>
													<td class="td-overflow">
														<a class="vulnerabilities_id" href="/vulnerabilities/internal/{{data.virtue_id}}">	{{data.title}}
														</a>
													</td>
													<td>{{data.instances}}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
                
                	{% if networks.internal %}
                	<div class="col-lg-7 col-md-9 col-sm-10 col-xs-12 networks-section">
                		<div class="panel" style="min-width: 315px;">
                        	<div class="panel-heading">
                            	<h3>Internal Networks</h3>	
                        	</div>
                        	<div class="panel-body">
								<div class="table-responsive">
									<table class="table-bordered table-hover table-condensed no-margin">
										<thead>
					                    <tr>
					                        <th class="notifications_heading">#</th>
					                        <th class="notifications_heading">Network</th>
					                        <th class="notifications_heading">Hosts</th>
					                        <th class="notifications_heading">Active</th>
					                        <th class="notifications_heading">Vulnerabilities</th>
					                    </tr>
					                	</thead>
										<tbody>
											{% for network in networks.internal %}
												<tr>
													<td>{{forloop.counter}}</td>
													<td>
														<a href="/vulnerabilities/network/{{network.id}}/">{{network.network}}</a>
													</td>
													<td>
														<center>
															{{network.ip_count}}
														</center>
													</td>
													<td>
														<center>
															{{network.vulnerabilities.active_ips_count}}
														</center>
													</td>
													<td >
		                                                <center>
		                                                    {% if network.vulnerabilities.critical or network.vulnerabilities.critical != 0 %}
	                                                            <button class="btn btn-critical-count btn-xs">
	                                                                {{ network.vulnerabilities.critical }}
	                                                            </button>
		                                                    {% endif %}
		                                                    {% if network.vulnerabilities.high or network.vulnerabilities.high != 0 %}
		                                                        <button class="btn btn-high-count btn-xs">
		                                                            {{ network.vulnerabilities.high }}
		                                                        </button>
		                                                    {% endif %}
		                                                    {% if network.vulnerabilities.medium or network.vulnerabilities.medium != 0 %}
		                                                        <button class="btn btn-medium-count btn-xs">
		                                                            {{ network.vulnerabilities.medium }}
		                                                        </button>
		                                                    {% endif %}
		                                                    {% if network.vulnerabilities.low or network.vulnerabilities.low != 0 %}
		                                                        <button class="btn btn-low-count btn-xs">
		                                                            {{ network.vulnerabilities.low }}
		                                                        </button>
		                                                    {% endif %}
		                                                </center>
		                                            </td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
                	</div>
                	{% endif %}
            	</div>
            </div>
            <!-- Row ends -->
        </div>
			<!-- Container fluid ends -->

	</div>
		<!-- Dashboard Wrapper End -->
{% endblock %}

