 {% extends 'base.html' %}
{% block title %}
    <title>RedTree - Nessus Logs</title>
{% endblock %}

{% block content %}
    <!-- Dashboard Wrapper Start -->
    <div class="dashboard-wrapper dashboard-wrapper-lg">
        <!-- Container fluid Starts -->
        <div class="container-fluid">
            
            <div class="col-lg-12 col-md-12">
                <h3> Nessus Logs </h3>
                <div class="panel custom-display">
                    <div class="panel-body">
                        <div class="panel-heading">
                            <h4>Events</h4>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed no-margin">
                                <thead>
                                    <tr>
                                        <th>Age</th>
                                        <th>Scan Type</th>
                                        <th>Status</th>
                                        <th>Ips</th>
                                        <th>Result/Error</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for nessus in nessus_log %}
                                        <tr>
                                            <td>
                                                {{nessus.date_created}}
                                            </td>
                                            <td>{{nessus.network_type}}</td>
                                            <td>{{nessus.status}}</td>
                                            <td>{{nessus.ips}}</td>
                                            {% if nessus.result %}
                                                <td style="word-break: break-all;"> 
                                                    {{nessus.result|linebreaks}}
                                                </td>
                                            {% elif nessus.message %}
                                                <td style="word-break: break-all;">
                                                    {{nessus.message|linebreaks}}
                                                </td>
                                            {% else %}
                                                <td>Scan is running</td>
                                            {% endif %}
                                            {% if nessus.is_completed %}
                                                <td title="scan completed in {{nessus.task_duration}}">
                                                {{nessus.task_duration}}</td>
                                            {% else %}
                                                <td title="scan is running from {{nessus.task_duration}} time">{{nessus.task_duration}}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Container fluid ends -->
    </div>
    <!-- Dashboard Wrapper End -->
{% endblock %}