{% extends 'base.html' %}
{% block title %}
	<title>Masscan Event Log - RedTree</title>
{% endblock %}

{% block content %}
	<!-- Dashboard Wrapper Start -->
	<div class="dashboard-wrapper dashboard-wrapper-lg">
		<!-- Container fluid Starts -->
		<div class="container-fluid">
			<!-- Row starts -->
			<div class="row gutter">
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					{% if masscan_status %}
						<button class="btn btn-info">
							Scanning Under Progress
						</button>
					{% else %}
						<button class="btn btn-danger">
							No scanning
						</button>
					{% endif %}
					<br><br>
				</div>

				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
					<div class="panel">
                        <div class="panel-heading">
                            <h3>Masscan Event Log</h3>
                        </div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-condensed no-margin">
									<col width="16%" />
									<col width="12%" />
									<col width="12%" />
									<col width="16%" />
									<col width="22%" />
									<col width="22%" />
									<thead>
										<tr>
											<th>Ip</th>											
											<th>Port</th>
											<th>Status</th>
											<th>Existance</th>
											<th>Created</th>
											<th>Modified</th>						
										</tr>
									</thead>
									<tbody>
										{% for data in masscan_data %}
											<tr>		
												<td>{{data.ip}}</td>
												<td>{{data.port}}</td>
												<td>{{data.status}}</td>
												<td>{{data.exist_status}}</td>
												<td>{{data.created}}</td>
												<td>{{data.modified}}</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row ends -->
		</div>
		<!-- Container fluid ends -->
	</div>
	<!-- Dashboard Wrapper End -->
{% endblock %}
