{% extends 'base.html' %}
{% block title %}
	<title>Vulnerabilities - RedTree</title>
{% endblock %}

{% block content %}
	<!-- Dashboard Wrapper Start -->
	<div class="dashboard-wrapper dashboard-wrapper-lg">

		<!-- Container fluid Starts -->
		<div class="container-fluid">

			<!-- Row starts -->
			<div class="row gutter">
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="width: 570px;">
					<div class="panel">
                        <div class="panel-heading">
                            <h3>{{network}}</h3>
                        </div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table-bordered table-hover table-condensed no-margin">
									<col width="18%" />
									<col width="64%" />
									<col width="18%" />
									<thead>
										<tr>
											<th>Risk</th>
											<th>Title</th>
											<th>Instances</th>
										</tr>
									</thead>
									<tbody>
									{% for data in vulnerabilities %}
										<tr>
											<td>
												{% if data.risk == 'Critical' %}
													<button class="btn btn-critical btn-xs">Critical</button>
												{% elif data.risk == 'High' %}
													<button class="btn btn-high btn-xs">High</button>
												{% elif data.risk == 'Medium' %}
													<button class="btn btn-medium btn-xs">Medium</button>
												{% elif data.risk == 'Low' %}
													<button class="btn btn-low btn-xs">Low</button>
												{% elif data.risk == 'Note' %}
													<button class="btn btn-primary btn-xs btn-note">Note</button>
												{% endif %}
											</td>
											<td>
												<a href="{{data.virtue_id}}">{{data.title}}</a>
											</td>
											<td>
												{{data.instances}}
											</td>
										</tr>
									{% endfor %}
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row ends -->



		</div>
		<!-- Container fluid ends -->

	</div>
	<!-- Dashboard Wrapper End -->
{% endblock %}
